<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('parts/head') %>
</head>
<body>
    <a href="/">Home</a>
    <form method="post" action="/<%=category.id%>/edit/<%=row.id%>">
        <label for="editName">Item name:</label>
        <input type="text" id="editName" name="newName" value="<%=row.name%>">
        <label for="editUrl">URL:</label>
        <input type="text" id="editUrl" name="newUrl" value="<%=row.url%>">
        <button type="submit">Edit</button>
        <a href=<%=category.id+'/delete/'+row.id%>>Delete</a>
    </form>
    <p><%=row.item_date.toLocaleDateString('en-US',{month:'long', day:'numeric', weekday:'long', year:'numeric'})%></p>
    <p><%=row.item_time%></p>
</body>
</html>