<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=category.name%></title>
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <a href="/">Home</a>
    <h1><%=category.name%></h1>
    <p><%=category.cat_date.toLocaleDateString('en-US',{month:'long', day:'numeric', weekday:'long', year:'numeric'})%></p>
    <p><%=category.cat_time%></p>
    <form method="post" action="<%=category.id%>">
        <div>
            <label for="item">Item name:
            <input type="text" id="item" name="item" required>
        </div>
        <div>
            <label for="url">URL:</label>
            <input type="text" id="url" name="url">
        </div>
        <button type="submit">Create Item</button>
    </form>
    <h3>All items: </h3>
    <div class="items">
        <%rows.map(row=>{%>
            <div>
                <p><%=row.name%></p>
                <p><%=row.item_date.toLocaleDateString('en-US',{month:'long', day:'numeric', weekday:'long', year:'numeric'})%></p>
                <p><%=row.item_time%></p>
                <img src=<%=row.url%> alt="image">
                <a href=<%=category.id+'/delete/'+row.id%>>Delete</a>
                <a href=<%=category.id+'/edit/'+row.id%>>Edit</a>
            </div>
        <%})%>
    </div>
</body>
</html>